#intro
  padding: 100px 0

  .intro
    position: relative
    width: 960px
    background: rgba($paper,0.5)
    border: 1px solid $main
    padding: 80px
    margin: 0 auto

    font-family: NotoSansTC

    .intro-frame
      svg
        position: absolute

      #frame_top
        width: 244px
        left: -5px
        top: -5px

      #frame_bottom
        width: 244px
        right: -5px
        bottom: -5px

      #corner_top
        width: 60px
        top: -1px
        right: -1px

      #corner_bottom
        width: 60px
        left: -1px
        bottom: -1px

      #deco_vertical_line
        width: 240px
        left: calc( 50% - 120px)
        top: -174px

    .intro-title
      font-size: 36px
      font-weight: bold
      color: $main
      text-align: center
      margin-bottom: 40px
    
    .intro-content
      width: 680px
      font-size: 18px
      color: $midnight
      margin: 0 auto

      p
        margin-bottom: 20px

      .intro-highlight
        border-top: 2px solid rgba($main, 0.1)
        border-bottom: 2px solid rgba($main, 0.1)
        padding: 30px 0 10px
        margin-top: 30px

        text-align: center

    .intro-logo
      display: block
      width: 680px
      position: relative
      text-align: center
      margin: 60px auto 0

      span
        position: absolute
        top: 8px
        left: 0
        border: 1px solid $main
        padding: 5px 15px
        +transition(all, 0.3s)

        font-size: 18px
        color: $main
      
      &:hover span
        background: $main
        color: #fff