#partner
  padding-bottom: 80px

  @media (min-width: $screen-sm)
    padding-bottom: 100px

  .partner-list
    text-align: center
    padding: 0
    margin: 0 auto

    li
      padding: 5px

    &.gold .partner-logo
      max-width: 160px

    &.bronze
      max-width: 1300px