/* Color palette */
$main: #D2551B
$midnight: #282E3A
$marble: #F1F1F1
$paper: #FAFAFA 

body
  background-color: $marble
  font-family: 'Noto Sans TC', sans-serif

a:hover, a:visited, a:link, a:active
  text-decoration: none

svg
  width: 100%

section
  padding: 60px 0
  @media (min-width: $screen-sm)
    padding: 80px 0

.visible-xs
  display: block
  @media (min-width: $screen-sm)
    display: none

.hidden-xs
  display: none
  @media (min-width: $screen-sm)
    display: block