section#activity
  a.activity-banner href="http://hyperurl.co/wegamerslove" target="_blank"
    = image_tag "images/activity_mobile.jpg", class:"activity-image visible-xs", alt: "9/8-9/28 Twitch 社群好康，註冊群募貝果會員抽 PS4 Pro！"
    = image_tag "images/activity_desktop.jpg", class:"activity-image hidden-xs", alt: "9/8-9/28 Twitch 社群好康，註冊群募貝果會員抽 PS4 Pro！"